<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Light Sensor App</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding> 
  <div *ngIf="!particle.token">
      Please login and select a device. <br />
      <button ion-button (click)="login()">Login</button>
  </div>
  <div *ngIf="particle.token && particle.device">
      
      <div>
        
        <button ion-button (click)="particle.callFunction('getLux')">How much ambient light is there?</button>

        <div>
            The amount of ambient light is {{lux}} light.
        </div>

      </div>
  </div>
</ion-content>
